/*
 * D3D12Builtin.h
 * 
 * This file is part of the "LLGL" project (Copyright (c) 2015-2019 by Lukas Hermanns)
 * See "LICENSE.txt" for license information.
 */

#include "D3D12Builtin.h"


LLGL_IDR_GENERATEMIPS1D_CS              RCDATA "GenerateMips1DCS.cso"
LLGL_IDR_GENERATEMIPS1D_CS_ODDX         RCDATA "GenerateMips1DCS.OddX.cso"
LLGL_IDR_GENERATEMIPS1D_CS_SRGB         RCDATA "GenerateMips1DCS.sRGB.cso"
LLGL_IDR_GENERATEMIPS1D_CS_SRGB_ODDX    RCDATA "GenerateMips1DCS.sRGB.OddX.cso"

LLGL_IDR_GENERATEMIPS2D_CS              RCDATA "GenerateMips2DCS.cso"
LLGL_IDR_GENERATEMIPS2D_CS_ODDX         RCDATA "GenerateMips2DCS.OddX.cso"
LLGL_IDR_GENERATEMIPS2D_CS_ODDY         RCDATA "GenerateMips2DCS.OddY.cso"
LLGL_IDR_GENERATEMIPS2D_CS_ODDXY        RCDATA "GenerateMips2DCS.OddXY.cso"
LLGL_IDR_GENERATEMIPS2D_CS_SRGB         RCDATA "GenerateMips2DCS.sRGB.cso"
LLGL_IDR_GENERATEMIPS2D_CS_SRGB_ODDX    RCDATA "GenerateMips2DCS.sRGB.OddX.cso"
LLGL_IDR_GENERATEMIPS2D_CS_SRGB_ODDY    RCDATA "GenerateMips2DCS.sRGB.OddY.cso"
LLGL_IDR_GENERATEMIPS2D_CS_SRGB_ODDXY   RCDATA "GenerateMips2DCS.sRGB.OddXY.cso"

LLGL_IDR_GENERATEMIPS3D_CS              RCDATA "GenerateMips3DCS.cso"
LLGL_IDR_GENERATEMIPS3D_CS_ODDX         RCDATA "GenerateMips3DCS.OddX.cso"
LLGL_IDR_GENERATEMIPS3D_CS_ODDY         RCDATA "GenerateMips3DCS.OddY.cso"
LLGL_IDR_GENERATEMIPS3D_CS_ODDXY        RCDATA "GenerateMips3DCS.OddXY.cso"
LLGL_IDR_GENERATEMIPS3D_CS_ODDZ         RCDATA "GenerateMips3DCS.OddZ.cso"
LLGL_IDR_GENERATEMIPS3D_CS_ODDXZ        RCDATA "GenerateMips3DCS.OddXZ.cso"
LLGL_IDR_GENERATEMIPS3D_CS_ODDYZ        RCDATA "GenerateMips3DCS.OddYZ.cso"
LLGL_IDR_GENERATEMIPS3D_CS_ODDXYZ       RCDATA "GenerateMips3DCS.OddXYZ.cso"
LLGL_IDR_GENERATEMIPS3D_CS_SRGB         RCDATA "GenerateMips3DCS.sRGB.cso"
LLGL_IDR_GENERATEMIPS3D_CS_SRGB_ODDX    RCDATA "GenerateMips3DCS.sRGB.OddX.cso"
LLGL_IDR_GENERATEMIPS3D_CS_SRGB_ODDY    RCDATA "GenerateMips3DCS.sRGB.OddY.cso"
LLGL_IDR_GENERATEMIPS3D_CS_SRGB_ODDXY   RCDATA "GenerateMips3DCS.sRGB.OddXY.cso"
LLGL_IDR_GENERATEMIPS3D_CS_SRGB_ODDZ    RCDATA "GenerateMips3DCS.sRGB.OddZ.cso"
LLGL_IDR_GENERATEMIPS3D_CS_SRGB_ODDXZ   RCDATA "GenerateMips3DCS.sRGB.OddXZ.cso"
LLGL_IDR_GENERATEMIPS3D_CS_SRGB_ODDYZ   RCDATA "GenerateMips3DCS.sRGB.OddYZ.cso"
LLGL_IDR_GENERATEMIPS3D_CS_SRGB_ODDXYZ  RCDATA "GenerateMips3DCS.sRGB.OddXYZ.cso"



// ================================================================================
