/*
 * D3D11Builtin.h
 * 
 * This file is part of the "LLGL" project (Copyright (c) 2015-2019 by Lukas Hermanns)
 * See "LICENSE.txt" for license information.
 */

#include "D3D11Builtin.h"


LLGL_IDR_D3D11_COPYTEXTURE1DFROMBUFFER_CS RCDATA "CopyTextureFromBufferCS.Dim1D.cso"
LLGL_IDR_D3D11_COPYTEXTURE2DFROMBUFFER_CS RCDATA "CopyTextureFromBufferCS.Dim2D.cso"
LLGL_IDR_D3D11_COPYTEXTURE3DFROMBUFFER_CS RCDATA "CopyTextureFromBufferCS.Dim3D.cso"

LLGL_IDR_D3D11_COPYBUFFERFROMTEXTURE1D_CS RCDATA "CopyBufferFromTextureCS.Dim1D.cso"
LLGL_IDR_D3D11_COPYBUFFERFROMTEXTURE2D_CS RCDATA "CopyBufferFromTextureCS.Dim2D.cso"
LLGL_IDR_D3D11_COPYBUFFERFROMTEXTURE3D_CS RCDATA "CopyBufferFromTextureCS.Dim3D.cso"



// ================================================================================
